@import "../sass/utils/variables";
@import "../sass/utils/functions";
@import "../sass/utils/mixins";

@import "../sass/base/box-sizing";

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #f6f6f6;
}

* a {
    text-decoration: none;
    color: white;
}

main {
    margin: 0;
    padding: 0;
    flex-direction: column;
    @include center-flexbox;
}

/*Header Logo*/

.header {
    position: relative;
    @include center-flexbox;
    height: 100%;
    width: 100%;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.20);
    &__logo {
        height: 50px;
        padding: 20px 0 15px 0;
    }
}

/*Localisation*/

.location {
    background: #e4e4e4;
    color: #464646;
    @include center-flexbox;
    width: 100%;
        &__city {
            font-weight: 400;
            margin-left: 12px;
        }
}

/*Footer*/

.footer {
    width: 100%;
    background-color: #353535da;
    &__list {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        &__logo {
            height: 25px;
            margin-top: 15px;
            margin-left: 35px;
        }

        &__ul {
            list-style-type: none;
            line-height: 180%;
        }

        &__li i {
            margin-right: 10px;
            font-size: 100%;
            color: white;
        }
    }
}