@mixin center-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin style-button {
    opacity: 1;
    background: $gradient;
    color: white;
    padding: 18px 18px;
    border-radius: 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    border: transparent;
    font-size: medium;
}

@mixin hover-button {
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);
    background: darken($color-secondary, 1%);
}