@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";


/*Footer*/

.footer {
    width: 100%;
    background-color: #353535;
    &__list {
        padding: 20px 0;

        &__logo {
            height: 25px;
            margin-top: 15px;
            margin-left: 10px;
            filter: invert(1);
        }

        &__ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            list-style-type: none;
            line-height: 180%;
        }

        &__li i {
            margin-right: 10px;
            color: white;
        }

        &__utensils {
            font-size: 20px;
        }
    }
}