/*Keyframes acceuil*/
@keyframes spinner {
  0% {
    opacity: 0.8;
    visibility: visible;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner-border {
  0% {
    opacity: 1;
    visibility: visible;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(200deg);
    opacity: 0;
    visibility: hidden;
  }
}
/*Keyframes menu*/
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(-15px);
  }
}
/*Keyframes acceuil*/
@keyframes spinner {
  0% {
    opacity: 0.8;
    visibility: visible;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner-border {
  0% {
    opacity: 1;
    visibility: visible;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(200deg);
    opacity: 0;
    visibility: hidden;
  }
}
/*Footer*/
.footer {
  width: 100%;
  background-color: #353535;
}
.footer__list {
  padding: 20px 0;
}
.footer__list__logo {
  height: 25px;
  margin-top: 15px;
  margin-left: 10px;
  filter: invert(1);
}
.footer__list__ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style-type: none;
  line-height: 180%;
}
.footer__list__li i {
  margin-right: 10px;
  color: white;
}
.footer__list__utensils {
  font-size: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #f6f6f6;
}

* a {
  text-decoration: none;
  color: white;
}

/*Header Logo*/
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 100%;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
}
.header__logo img {
  height: 50px;
}
.header i {
  position: absolute;
  color: black;
  left: 20px;
  top: 45px;
  font-size: 20px;
}

.img {
  width: 100%;
  height: 380px;
}
.img__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  margin-top: -20%;
  background: white;
  padding: 20px 20px 0 20px;
  width: 100%;
  max-width: 1000px;
  border-radius: 50px 50px 0 0;
  position: relative;
}
.menu__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu__header__title {
  font-family: "Shrikhand", cursive, sans-serif;
  letter-spacing: 2.2px;
  font-weight: 500;
  font-size: 25px;
}
.menu__header__heart {
  cursor: pointer;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__header__heart__full {
  position: absolute;
  right: 40px;
  opacity: 0;
  background: linear-gradient(45deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 20;
  font-size: 102%;
}
.menu__header__heart__full:hover {
  opacity: 1;
  transition: 0.5s;
}
.menu__header__heart__empty {
  position: absolute;
  right: 40.5px;
  top: 41.6px;
  z-index: 10;
  font-size: 99%;
}
.menu__grid {
  display: grid;
  grid-gap: 40px;
}
.menu__grid__bloc {
  display: grid;
  grid-gap: 15px;
}
.menu__grid__title h3 {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.menu__grid__title h3::after {
  content: "";
  width: 45px;
  height: 4px;
  background: #99E2D0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}
.menu__grid__case {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.1);
  animation: slide 1s ease 0s 1 normal forwards;
  opacity: 0;
}
.menu__grid__case:hover .validation__box {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-left 0.5s ease;
  transform-origin: right;
}
.menu__grid__case:hover .menu__case__price {
  padding-right: 20%;
  transition: 0.5s ease;
}
.menu__grid__case .validation__box {
  display: none;
  position: absolute;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  padding: 0 20px;
  height: 100%;
}
.menu__grid__case .validation__box i {
  font-size: 25px;
  color: white;
  transform: rotate(180deg);
  animation: rotate 0.5s both;
}
.menu__grid__case h3, .menu__grid__case p {
  line-height: 25px;
  margin-left: 15px;
}
.menu__case__dish {
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.menu__case__dish p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__case__dish-title {
  font-weight: bold;
}
.menu__case__price {
  padding: 0 30px 0 7px;
  font-weight: bold;
}
.menu__commande {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu__commande__button {
  opacity: 1;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  padding: 18px 18px;
  border-radius: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  border: transparent;
  font-size: medium;
  padding: 18px 50px;
  margin: 50px 0;
  font-size: 18px;
}
.menu__commande__button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
}

.dish-and-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#case-1 {
  animation-delay: 0.1s;
}

#case-2 {
  animation-delay: 0.2s;
}

#case-3 {
  animation-delay: 0.3s;
}

#case-4 {
  animation-delay: 0.4s;
}

#case-5 {
  animation-delay: 0.5s;
}

#case-6 {
  animation-delay: 0.6s;
}

#case-7 {
  animation-delay: 0.7s;
}

#case-8 {
  animation-delay: 0.8s;
}

#case-9 {
  animation-delay: 0.9s;
}

#case-10 {
  animation-delay: 1s;
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  .menu {
    margin-top: -3%;
  }
  .menu__header__title {
    margin-left: 20px;
  }
  .menu__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }
  .menu__grid__case:hover .menu__case__price {
    padding-right: 7%;
  }

  .menu__grid__case:hover .menu__case__price {
    padding-right: 9%;
  }

  .img {
    height: 400px;
  }
  .img__image {
    height: 100%;
  }

  .footer__list__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
  }
  .footer__list__li {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1400px) {
  .menu {
    margin-top: -3%;
  }
  .menu__header__title {
    margin-left: 20px;
  }
  .menu__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }
  .menu__grid__case:hover .menu__case__price {
    padding-right: 9%;
  }

  .img {
    height: 400px;
  }
  .img__image {
    height: 100%;
  }

  .footer__list {
    padding-left: 10%;
  }
  .footer__list__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
  }
}

/*# sourceMappingURL=style_menu.css.map */
